@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;800&display=swap');

:root{

--bg:#F4F8FF;
--bg2:#EAF2FF;

--blue:#5AA9FF;
--purple:#8B7CFF;
--pink:#F6A6C9;

--glass:rgba(255,255,255,.55);

--border:rgba(255,255,255,.65);

--text:#23324D;

--muted:#6B7A99;

}

*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:"Cairo",sans-serif;

}

body{

background:var(--bg);

color:var(--text);

min-height:100vh;

overflow:hidden;

}

.container{

display:flex;

height:100vh;

}

/* الخلفية */

.background-blur{

position:fixed;

border-radius:50%;

filter:blur(120px);

opacity:.55;

z-index:-1;

}

.blur1{

width:420px;
height:420px;

background:#8B7CFF;

top:-120px;

left:-120px;

}

.blur2{

width:380px;
height:380px;

background:#5AA9FF;

bottom:-120px;

right:-80px;

}

.blur3{

width:320px;
height:320px;

background:#F6A6C9;

top:35%;

left:45%;

transform:translate(-50%,-50%);

}
/* ================= NAVBAR ================= */

.navbar{

width:100%;

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 50px;

}

.logo-text{

font-size:42px;

font-weight:900;

background:linear-gradient(
90deg,
#5AC8FF,
#5E8CFF,
#8A63FF,
#FFB357);

-webkit-background-clip:text;

-webkit-text-fill-color:transparent;

}

.nav-links{

display:flex;

gap:35px;

}

.nav-links a{

text-decoration:none;

color:#50627E;

font-size:18px;

font-weight:700;

transition:.3s;

}

.nav-links a:hover{

color:#5E8CFF;

}


